<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue To Do List</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">
        <h1>
            Vue To Do List 
        </h1>

        <ul>
            <li v-for="(todo, index ) in todos" :style="todo.done == true ? {textDecoration: 'line-through'} : '' " >
                <span @click="changeDone(index)">
                    {{todo.text}} - 
                </span> 
                <span @click="deleteTodo(index)">x</span>
            </li>
        </ul>

        <input v-model="newTodo" @keyup.enter="addToDo()" type="text">
        <button @click="addToDo()">Aggiungi</button>
    </div>
    

    <script src="js/script.js"></script>
</body>
</html>